
<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__left">
                <div class="footer__copyright p3-r">© Ris Group, 2022</div>
                <a href="https://undersky.ru/" class="footer__development p3-r">Разработка — «Андерскай Диджитал»</a>
            </div>
            <address class="footer__address p3-r">115280, Москва, Ленинская слобода, 26, офис 210, БЦ «Омега-2»</address>
            <div class="footer__right">
                <a class="footer__phone p3-r" href="tel:+7 915 286-61-48">+7 (915) 286-61-48</a>
                <a class="footer__mail p3-r" href="mailto:info@risgroup.ru">info@risgroup.ru</a>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.10/fullpage.min.js" integrity="sha512-Xaje5GN/tSuxnQNdbOMppDPWWpPMN0WGfay1St6ckxBqnm3hB66iVqBbLXmujadwsH9KOUVHJZ3GR9QpAEF1GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollToPlugin.min.js"></script>
<script src="js/main.js"></script>